@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  margin: 0;
  padding: 0;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.spinner {
  margin: 4.8rem auto;
  width: 6.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #121212 94%, #0000) top/10px 10px
      no-repeat,
    conic-gradient(#0000 30%, #121212);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
  animation: spin 1.5s infinite linear;
}

#root {
  min-height: 100vh;
}
